// color general

$color-1: #ffff;
$color-3: #000066;
$color-4: #000000;
$color-5: #F5F5F5;
$color-6: #333330;
$color-7: #206BAD;
$color-8: #DCDCDC;
$color-9: #4169e1;

// background color

$bg-color-primary: $color-1;
$bg-color-secondary: $color-5;
$bg-color-button-primary: $color-3;
$bg-color-header: $color-8;
$bg-color-hover: $color-9;

// border color

$border-color-primary: $color-6;

// font color:

$font-color-primary: $color-4;
$font-color-secondary: $color-1;
$font-color-logo: $color-7;

