@import './normalize.css';

body {
  margin: 0;
  font-family:'OpenSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:'OpenSans', sans-serif;
}
